[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-wtf = "*"
flask-login = "*"
email-validator = "*"
babel = "*"

[dev-packages]

[requires]
python_version = "3.10"
