{% extends "base.html" %}

{% block content %}
    <h1>Добавление сеанса</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time(size=32) }}<br>
            {% for error in form.start_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_time.label }}<br>
            {{ form.end_time(size=32) }}<br>
            {% for error in form.end_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hall_id.label }}<br>
            {{ form.hall_id(size=32) }}<br>
            {% for error in form.hall_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.film_name.label }}<br>
            {{ form.film_name(size=128) }}<br>
            {% for error in form.film_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.director.label }}<br>
            {{ form.director(size=64) }}<br>
            {% for error in form.director.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}