{% extends 'base.html' %}
{% block content %}
    <h1>Меню</h1>
    <div>
        <a href="{{ url_for('sessions') }}">Сеансы</a>
    </div>
    <div>
        {% if current_user.is_administrator %}
             <a href="{{ url_for('add_session') }}">Добавить сеанс</a>
        {% endif %}
    </div>

    <div>
        <a href="{{ url_for('films')}}">Фильмы</a>
    </div>
    <div>
        <a href="{{ url_for('add_film')}}">Добавить фильм</a>
    </div>
    <div>
        <a href="{{ url_for('statistic')}}">Статистика по продажам</a>
    </div>
{% endblock %}